@import url(/fonts/BINGGRAE.TTF);
@import url(/fonts/BINGGRAE-BOLD.TTF);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/BINGGRAE.TTF");
    font-family: 'Binggrae';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Binggrae-Bold';
    src: url("../fonts/BINGGRAE-BOLD.TTF") format('woff');
    /* src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2') format('woff2'); */
    font-weight: normal;
    font-style: normal;
}

/* ** 폰트 ** */
.en {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif; */
    letter-spacing: normal !important;
    /* font-weight: 300; */
}

.ko {
    font-family: 'Noto Sans KR', sans-serif;
}

.font_poppin {
    font-family: 'Poppins', sans-serif;
}

#Binggrae_font {
    font-family: "Binggrae", sans-serif;
}

.font_bing {
    font-family: Binggrae;
}

.font_bingbold {
    font-family: Binggrae-Bold;
}

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
* {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    line-height: 30px;
    box-sizing: border-box;
    font-size: 14px;
    font-style: normal;
    color: #1f1f1f;
    letter-spacing: -0.09em;
    padding: 0;
    margin: 0;
    color: inherit;
}

.hide {
    display: none !important;
}

.wrap {
    position: relative;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul,
li {
    margin: 0;
    list-style: none;
}

button {
    border: 0;
    outline: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.b_txt {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1.03px;
    color: #1f1f1f;
}

span,
strong,
b,
em {
    color: inherit;
    font-size: 100%;
    line-height: inherit;
}

button,
textarea,
input {
    /* -webkit-appearance: none; */
    border-radius: 0;
}

button,
textarea,
input,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    border: none;
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* header style */
header {
    height: 147px;
    background-color: #fff;
    width: 100%;
    position: fixed;
}

.header {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transition: height 0.8s;
}



header .header_top {
    border-bottom: 1px solid #e7e7e7;
    padding: 0 80px;
}

header .header_top ul {
    justify-content: flex-end;
}

.header_top ul li+li {
    padding-left: 20px;
    position: relative;
}

.header_top ul li+li::before {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
}

header .header_top a img {
    margin-left: 5px;
}

.header .header_container {
    padding: 40px 80px;
    width: 100%;
    /* height: 120px; */
    justify-content: space-between;
    align-items: flex-start;
    /* background: #fff; */
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

header .header_container .header_sec01 {
    font-size: 0;
    line-height: 1;
    padding: 0;
}

header .header_container .header_sec02 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: block;
}

.gnv .depth01 {
    justify-content: flex-end;
}

.gnv .depth01>li {
    position: relative;
    padding: 45px 80px 0 0;
}

.gnv .depth01>li>a {
    display: block;
    font-size: 20px;
    position: relative;
    padding: 0 0 40px;
    white-space: nowrap;
    /* font-weight: bold; */
}

header .header_container .ham-menu .lang .flex_center span.lang_btn {
    margin: 0px 0 0 10px;
    font-size: 0;
    line-height: 1;
}

header .header_container .ham-menu .lang {
    margin-right: 33px;
    position: relative;
    cursor: pointer;
}

header .header_container .ham-menu .lang li {
    width: 100%;
}

header .header_container .ham-menu .lang p span {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    /* margin-right: 10px; */
}

header .header_container .ham-menu .lang li a .icon {
    font-size: 36px;
}

.hamburger {
    width: 26px;
    /* height: 18px; */
    position: relative;
}

.hamburger a {
    display: block;
    width: 100%;
    height: 100%;
}

.hamburger a span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.hamburger a span+span {
    margin-top: 8px;
}

/* .hamburger_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff url(/img/pc_ham_bg.png) no-repeat right top -80px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
} */

/* main style */
.main {
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    padding: 200px 0 140px;
}

/* main_top style */

.inb {
    font-size: 0;
}

.inb>* {
    display: inline-block;
    vertical-align: top;
}

.main .main_top ul .title_btn {
    opacity: 0.4;
    position: relative;
    padding-right: 12px;
}

.main .main_top .main_title_wr .inb .title_btn.home a {
    font-size: 0;
    text-indent: -9999px;
}

.main .main_top .main_title_wr .inb .title_btn a {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.7px;
    color: #1f1f1f;
}

.main .main_top ul .title_btn+.title_btn {
    padding-left: 12px;
}

.main .main_top ul .title_btn+.title_btn::before {
    position: absolute;
    width: 6px;
    height: 10px;
    background: url(/img/btn_icon_brec_arrow.png) no-repeat center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
    display: block;
}

.main .main_top ul li span {
    padding: 10px;
}

.main .main_top ul li a {
    font-size: 14px;
    font-weight: 500;
}

.main .main_top .title {
    font-size: 58px;
    font-weight: normal;
    margin-top: 15px;
    line-height: 1;
    letter-spacing: -2.9px;
}

/* main content style */
.main .content {
    margin-top: 45px;
}

.main .content * {
    letter-spacing: -0.8px;
}

.section {
    padding-bottom: 140px;
}

.main .content .inner {
    border: 1px solid #ececee;
    border-radius: 2vw;
    background: #fff;
    padding: 45px 15px;
}

.main .content .inner p {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.main .content .inner .search_box.sub {
    width: 100%;
    max-width: 850px;
}

.main .content .inner .search_box {
    max-width: 1020px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    margin: 40px auto 0;
    justify-content: space-between;
}

.main .content .inner .search_box.sub .search {
    width: 100%;
}

.main .content .inner .search_box .search {
    width: 100%;
    padding: 0 15px 0 55px;
    height: 100%;
    justify-content: space-between;
}

.main .content .inner .search_box .search input {
    width: 78%;
    height: 100%;
    padding-left: 30px;
    font-size: 17px;
    letter-spacing: -0.85px;
    text-align: left;
    background: url("../img/search_icon.png") no-repeat center left;
}

.main .content .inner .search_box .search button {
    max-width: 180px;
    cursor: pointer;
    width: 22%;
    height: 55px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    border-radius: 27.5px;
    box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
    background-image: linear-gradient(to top, #ed1c24, #e0462e);
}

.main .content .inner ul {
    margin-top: 25px;
}

/* section sec2 */
.product_list_slide {
    margin: 0 auto;
    width: 100%;
    max-width: 1310px;
    text-align: center;
    padding: 0 30px;
}

.product_list_slide .slick_list {
    max-width: 1573px;
    width: 100%;
    margin: 0 auto;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slide_track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick_track:before,
.slick_track:after {
    display: table;
    content: '';
}

.slide_track .list_it {
    width: 125px;
    ;
}

.product_list_slide .slide_track .list_it .txt_box .img_box {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid transparent;
    margin: 0 auto;
    transition: .5s all ease;
}

.product_list_slide .slide_track .list_it .txt_box .img_box img {
    width: 100%;
}

.product_list_slide .list_it:hover .txt_box .img_box {
    border: 2px solid #ed1c24;
}

/* section sec3 */


@media screen and (max-width: 1024px) {
    * {
        line-height: 25px;
    }

    .main {
        padding: 120px 0 70px;
    }
}

@media screen and (max-width: 1280px) {
    .main .content .inner .search_box {
        height: 60px;
    }

    .main .content .inner .search_box .search button {
        width: 35%;
        height: 45px;
    }
}

@media screen and (max-width: 1400px) {
    .main .content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}